body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a { color: #0000FF; }

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
  overflow: hidden;
}

#first_column {
  width: 15%;
  margin: 0 auto;
  margin-top: 40px;
  padding: 1px;
  float: left;
  border: solid 1px black;
}

#first_column #main_menu {
  width: 100%;
  float: left;
  padding: 5px;
}

#first_column #cloud {
  float: left;
  width: 100%;
  padding: 5px;
  overflow: hidden;
}

#main_column {
  width: 80%;
  margin: 0 auto;
  float: right;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#users {
  height: auto;
  display: inline;
  float: left;
}

#microposts {
  height: auto;
  display: inline;
  float: left;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.formError { color: red; }

.fieldWithErrors textarea {
  background-color: #FFFFCF;
  border: solid 1px red;
}

.fieldWithErrors input {
  background-color: #FFFFCF;
  border: solid 1px red;
}

select {
  float: left;
}

a.menu_element {
  display: none;
  overflow: hidden;
}